.MainContent {
    text-align: center;
    margin-top: 60px;
    padding: 100px;
}

p {
    font-size: 20px;
}

.Container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}