.Footer {
    background-color: rgb(75, 46, 131);
    color: rgb(218, 201, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.ContactUsText {
    font-size: 30px;
    margin-left: auto;
}

.LeftText {
    margin-left: auto;
    margin-right: 20px;
}

.RightText {
    margin-right: auto;
}

.Link {
    color: rgb(218, 201, 255);
    text-decoration: underline;
}

.TextContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: auto;
}

@media (max-width: 650px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .LeftText {
        margin-right: 5px;
    }

    .ContactUsText {
        margin-left: 0;
    }

    .TextContainer {
        margin-left: 0;
        margin-right: 0;
    }
}